<div>
    <div class="row">
        <div class="col col-md-12">
            <div class="card mb-3">
                <div class="card-header">
                    Table with pagination
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Ùser Id</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of selectedUSers">
                                <td>{{user.id}}</td>
                                <td>{{user.title}}</td>
                                <td>{{user.userId}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <button type="button" (click)="selectingPrevPaging()" class="btn btn-link border">Previous</button>
                        </li>
                        <li class="page-item" *ngFor="let page of totalpages">
                            <button type="button" (click)="selectingPaging(page)" class="btn btn-link border" 
                            [ngClass]="{'selectedPageNum': page===currentPage}">{{page}}</button>
                        </li>
                        <li class="page-item">
                            <button type="button" (click)="selectingNextPaging()" class="btn btn-link border">Next</button>
                        </li>
                        <li class="page-item">
                            &nbsp;&nbsp; Page Size : 
                            <select class="browser-default custom-select" #t (change)="callType(t.value)">
                                <option [value]="page" *ngFor="let page of pageSize" >{{page}}</option>                                
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>